<div>
  <h3>{{profile.username}}</h3>
  <h4>{{profile.role}}</h4>
  <div>
    <label>Email: </label>
    <input [(ngModel)]="profile.email" placeholder="Email"/>
  </div>
  <div>
    <label>First Name: </label>
    <input [(ngModel)]="profile.first_name" placeholder="First Name"/>
  </div>
  <div>
    <label>Last Name: </label>
    <input [(ngModel)]="profile.last_name" placeholder="Last Name"/>
  </div>
  <div>
    <label>Enabled: </label>
    <input type="checkbox" [(ngModel)]="profile.enabled" placeholder="Last Name"/>
  </div>
  <button (click)="save()">Save</button>
  <button (click)="goBack()">Back</button>
</div>

<!--users_talents, with: Entities::UsersTalent, unless: :show_talent-->
<!--users_projects, with: Entities::UsersProject, unless: :show_project-->
<!--department, with: Entities::Department-->
<!--position, with: Entities::Position-->
<!--deleted-->
<!--enabled-->
<!--certificates-->
<!--education-->
